In [59]:
import sqlite3
import sys
import csv
import pandas as pd

In [155]:
def printhr():
 
    try:
        result = theCursor.execute("SELECT time, hr FROM heartrate")
        with open("out20.csv","w") as f:
            wr = csv.writer(f,delimiter='\n')
            wr.writerow(result)
            print("Check Your Directory for the CSV")  
            f.close()
            
    except sqlite3.OperationalError:
        print("The Table Doesn't Exist")
 
    except:
        print("Couldn't Retrieve Data From Database")
 
db_conn = sqlite3.connect('db.sqlite')
print("Database Created")
theCursor = db_conn.cursor()
printhr()

Database Created
Check Your Directory for the CSV

In [215]:
import pandas as pd
import numpy as np
x=pd.read_csv('out20.csv')

In [216]:
x.columns=["time stamp","heart beat"]

In [217]:
x['time stamp'] = x['time stamp'].apply(lambda x: np.int(x.replace("(","")))
x['heart beat'] = x['heart beat'].apply(lambda x: np.int(x.replace(")","")))

In [234]:
x['time stamp'] = pd.to_datetime(x['time stamp'],unit='s')

In [235]:
x

            time stamp  heart beat
0  2017-07-14 01:25:32          81
1  2017-07-14 19:08:25          73
2  2017-07-14 19:09:27         108
3  2017-07-15 19:00:28          47
4  2017-07-18 04:32:54          63
5  2017-07-18 04:53:00         150
6  2017-07-18 05:18:07          55
7  2017-07-18 05:48:06          81
8  2017-07-18 06:07:16          54
9  2017-07-18 06:12:20          57
10 2017-07-18 06:17:11          85
11 2017-07-18 06:22:12          60
12 2017-07-18 06:32:13          56
13 2017-07-18 06:37:12          56
14 2017-07-18 06:42:16          66
15 2017-07-18 06:47:11          85
16 2017-07-18 06:52:17          73
17 2017-07-18 06:57:12          60
18 2017-07-18 07:02:20         101
19 2017-07-18 07:17:12          93
20 2017-07-18 07:45:18          45
21 2017-07-19 00:44:29          51
22 2017-07-19 06:53:00          71
23 2017-07-19 07:07:58          52
24 2017-07-19 07:13:00          55
25 2017-07-19 07:15:00          60
26 2017-07-19 07:17:00          56
27 2017-07-19 07:18:00          56
28 2017-07-19 07:21:00          54
29 2017-07-19 07:23:00          56
..                 ...         ...
51 2017-07-21 13:59:13          53
52 2017-07-21 14:01:00          53
53 2017-07-21 14:03:00          51
54 2017-07-21 14:05:00          47
55 2017-07-21 14:07:00          51
56 2017-07-21 14:09:00          55
57 2017-07-21 14:11:00          51
58 2017-07-21 14:13:00          75
59 2017-07-21 14:51:00         123
60 2017-07-21 14:55:00         100
61 2017-07-22 22:18:00          81
62 2017-07-22 22:18:45          74
63 2017-07-23 17:41:12          58
64 2017-07-23 17:46:09          82
65 2017-07-23 17:51:10          88
66 2017-07-23 18:11:12          75
67 2017-07-24 02:16:03          65
68 2017-07-24 08:07:03          50
69 2017-07-29 11:47:08          48
70 2017-07-30 12:55:00         105
71 2017-07-30 18:40:22          48
72 2017-07-31 19:33:14          65
73 2017-08-01 01:33:16         101
74 2017-08-02 05:12:02          85
75 2017-08-05 09:59:00          98
76 2017-08-06 15:40:14          86
77 2017-08-10 05:35:00          53
78 2017-08-10 08:29:00         107
79 2017-08-10 18:25:12          63
80 2017-08-10 18:26:08         107

[81 rows x 2 columns]

In [237]:
x.to_csv('pro/heartrate1.csv',index=False)